* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url('img.jpg');
}


.registro{
    width: auto;
    background: black;
    padding: 10px;
    margin: auto;
    margin-top: 8px;
    border-radius: 4px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:whitesmoke;
    text-align: center;

}

.form-register {
    width: 400px;
    background: #f5b00f;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:whitesmoke;
    box-shadow: 7px 13px 37px #000 ;
    
}

.form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls{
    width: 350px;
    background: whitesmoke;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.form-register p {
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
}

.form-register a {
    color: blanchedalmond;
    text-decoration: solid;
}

.form-register a:hover {
    color: blanchedalmond;
    text-decoration: underline;
}

.form-register .botons {
    width: 100%;
    background: gray;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 15px;

}